@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #0f1208;
    --background: #f0f4e6;
    --primary: #545d28;
    --secondary: #85cc91;
    --accent: #48ad77;
  }
  .dark {
    --text: #f4f7ed;
    --background: #15190b;
    --primary: #ced7a2;
    --secondary: #337a3f;
    --accent: #52b781;
  }

  body {
    @apply antialiased bg-background text-text min-h-screen;
  }
}
